name: HACS Validation

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  hacs:
    name: HACS Validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: HACS Action
        uses: hacs/action@main
        with:
          category: integration
          ignore: brands
