name: Hassfest

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  hassfest:
    name: Hassfest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run Hassfest
        uses: home-assistant/actions/hassfest@master
