name: Lint and Test

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13.2"
      - uses: astral-sh/setup-uv@v1
      - name: Install dependencies
        run: uv sync --all-extras --dev
      - name: Run Linters
        run: |
          uv run ruff format --check .
          uv run ruff check .
          uv run mypy custom_components/danfoss_ecl_modbus

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13.2"
      - uses: astral-sh/setup-uv@v1
      - name: Install dependencies
        run: uv sync --all-extras --dev
      - name: Run Tests
        run: uv run pytest --cov=custom_components.danfoss_ecl_modbus --cov-report=term-missing
