name: Lint and Test

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
      - name: Run Black
        run: black --check .
      - name: Run Isort
        run: isort --check .
      - name: Run Flake8
        run: flake8 custom_components/danfoss_ecl_modbus
      - name: Run Pylint
        run: PYTHONPATH=. pylint custom_components/danfoss_ecl_modbus
      - name: Run Mypy
        run: mypy custom_components/danfoss_ecl_modbus

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
      - name: Run Tests
        run: PYTHONPATH=. pytest --cov=custom_components.danfoss_ecl_modbus --cov-report=term-missing
